
/* font-family: 'Jua', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

html {
  background: url(../img/bg.jpg);
  background-size: 700px;
}

/* div {
  border: 1px solid black;
} */

.container {
  /* border: 1px solid black; */
  width: 80%;
  height: 100vh;
  margin: auto;
  padding-top: 70px;
}

.header {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  background: ivory;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 250px;
  font-size: 100px;
}

.header img {
  border-radius: 25px;
  width: 230px;
  vertical-align: middle;
  margin : 0 30px;
  margin-bottom: 18px;
  opacity: 0.7;
}

.headtext:hover {
  color: rgb(212, 180, 1);
  transition: all 0.5s;
}

.content {
  text-align: center;
  display: flex;
  justify-content: space-between
}

.content div {
  display: inline-block;
  vertical-align: middle;
}

.content div::after {
  content: '';
  display: block;
}

.cslidewrap {
  width: 850px;
  height: 480px;
  overflow-y: scroll;
}

.cslide1,
.cslide2,
.cslide3 {
  width: 100%;
  height: 100%;
  line-height: 400px;
  /* border: 1px solid black; */
}

.cslide1 img,
.cslide2 img,
.cslide3 img {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  display: inline-block;
  vertical-align: middle;
}

.cslide3 img::after {
  content: '';
  clear: both;
}

.ul {
  margin-left: 20px;
  text-align: left;
}

.cimg {
  border-radius: 25px;
  width: 300px;
  border: 1px solid black;
}

.lnav,
.rnav {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  text-align: center;
  width: 15%;
  height: 500px;
  background: ivory;
}

.rnav p {
  font-size: 30px;
}

.other {
  width: 70px;
  margin: 10px;
}

.center {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  background: ivory;
  width: 900px;
  height: 500px;
  padding-top: 10px;
}

ul {
  line-height: 50px;
  margin-top: 20px;
}

li {
  list-style: none;
  font-size: 30px;
}

a {
  text-decoration-line: none;
  color: black;
}

.lnav ul li a:hover {
  color: rgb(212, 180, 1);
  transition: all 0.5s;
}