
/* font-family: 'Jua', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

html {
  background: url(../img/bg.jpg);
  background-size: 700px;
}

/* div {
  border: 1px solid black;
} */

.container {
  /* border: 1px solid black; */
  width: 80%;
  height: 100vh;
  margin: auto;
  padding-top: 40px;
}

.header {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  background: ivory;
  width: 70%;
  margin: auto;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 200px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  border-radius: 25px;
  width: 140px;
  vertical-align: middle;
  margin : 0 30px;
  opacity: 0.7;
}

.headtext:hover {
  color: rgb(212, 180, 1);
  transition: all 0.5s;
}

.content {
  text-align: center;
  display: flex;
  justify-content: space-between
}

.content div {
  display: inline-block;
  vertical-align: middle;
}

.content div::after {
  content: '';
  display: block;
}

.lnav,
.rnav {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  text-align: center;
  width: 15%;
  height: 500px;
  background: ivory;
}

.rnav p {
  font-size: 30px;
}

.outline {
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.inline {
  width: 60px;
  height: 60px;
}

.other {
  width: 60px;
}

.other:hover {
  width: 70px;
  transition: all 0.5s;
}

.center {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  background: ivory;
  width: 900px;
  height: 500px;
  padding-top: 10px;
}

ul {
  line-height: 50px;
  margin-top: 20px;
}

li {
  list-style: none;
  font-size: 30px;
}

a {
  text-decoration-line: none;
  color: black;
}

.lnav ul li a:hover {
  color: rgb(212, 180, 1);
  transition: all 0.5s;
}

.footer {
  border: 1px solid rgb(168, 196, 13);
  border-radius: 25px;
  background: ivory;
  width: 100%;
  margin: auto;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerwrap {
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerwrap img {
  height: 80px;
}

.footertxt {
  width: 33%;
  height: 80px;
  line-height: 40px;
  font-size: 30px;
  text-align: left;
  margin: 0 30px;
}