
/* font-family: 'Jua', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide {
  /* border: 1px solid black; */
  width: 100vw;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.wrap {
  /* border: 1px solid black; */
  width: 400vw;
  margin: auto;
  display: flex;
}

.pic {
  /* border: 3px solid red; */
  width: 100%;
  height: 900px;
  
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 50px;
  background: #fff;
  transform: translateY(-50%);
  cursor: pointer;
}

.next {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 50px;
  background: #fff;
  transform: translateY(-50%);
  cursor: pointer;
}